<%- include('../partials/header') %>
    <br><br><br>
    <div id="edit">
        <form action="/events/<%= event._id %>?_method=PUT" method="POST">
            <label for="title">Edit Title:</label>
            <input type="text" name="title" required value="<%= event.title %>">

            <label for="venue">Edit Venue:</label>
            <input type="text" name="venue" required value="<%= event.venue %>">
            <label for="description">Edit description:</label>
            <input type="text" name="description" required value="<%= event.description %>">

            <label for="date">Edit Date:</label>
            <input type="datetime-local" name="date" required value="<%= event.date %>">
            <br>
            <button id="editButton" type="submit">Accept Changes</button>
        </form>
    </div>
    <%- include('../partials/footer') %>`