<%- include('../partials/header') %>
    <table id="list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Venue</th>
                <th>Description</th>
                <th>City</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% events.forEach(function(e) { %>
                <tr>
                    <td>
                        <%= e.title %>
                    </td>
                    <td>
                        <%= e.venue %>
                    </td>
                    <td>
                        <%= e.description %>
                    </td>
                    <td>
                        <%= e.city %>
                    </td>
                    <td>
                        <%= e.date.toLocaleDateString() %> &nbsp
                            <%= e.date.toLocaleTimeString() %>
                    </td>
                    <td><a href="/events/<%= e._id %>">DETAILS</a></td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                            <form action="/events/<%= e._id %>?_method=DELETE" method="POST">
                                <button type="submit">X</button>
                            </form>
                            <% }%>
                    </td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                            <form action="/events/<%= e._id %>/edit">
                                <button type="submit">edit</button>
                            </form>
                            <% }%>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <%- include('../partials/footer') %>