<%- include('../partials/header') %>
    <br><br><br>
    <table id="list" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Venue</th>
                <th scope="col">Description</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <% events.forEach(function(e) { %>
                <tr>
                    <td>
                        <%= e.title %>
                    </td>
                    <td>
                        <%= e.venue %>
                    </td>
                    <td id="description">
                        <%= e.description %>
                    </td>
                    <td>
                        <%= e.city %>
                    </td>
                    <td>
                        <%= e.date.toLocaleDateString() %> &nbsp
                            <%= e.date.toLocaleTimeString() %>
                    </td>
                    <td><a href="/events/<%= e._id %>"><button class= "DDEbutton">Details</button></a></td>
                    <% if (user?._id.equals(e.user)) { %>
                        <td>
                            <form action="/events/<%= e._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="DDEbutton">Delete</button>
                            </form>
                        </td>
                        <% }%>
                            <% if (user?._id.equals(e.user)) { %>
                                <td>
                                    <form action="/events/<%= e._id %>/edit">

                                        <button type="submit" class="DDEbutton">EDIT</button>
                                    </form>
                                </td>
                                <% }%>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <%- include('../partials/footer') %>