<%- include('../partials/header') %>

    <section id="show-page">
        <div>Title:
            <%= event.title %>
        </div>
        <div>Venue:
            <%= event.venue %>
        </div>
        <div>Description:
            <%= event.description %>
        </div>
        <div>Date:
            <%= event.date %>
        </div>
    </section>