<%- include('../partials/header') %>
    <br><br><br>
    <form id="search-form" action="/searches/index" method="POST">
        <label>City:</label>
        <input type="text" name="city"><br>
        <input type="submit" value="Search Event"><br>
    </form>
    <br><br><br>


    <h2>EVENTS IN YOUR CITY</h2>
    <br><br>

    <table id="list" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Venue</th>
                <th scope="col">Description</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <%if(events.length) { %>
            <h2>Searched events</h2>
            <tbody>

                <% events.forEach(function(e) { %>
                    <tr>
                        <td>
                            <%= e.title %>
                        </td>
                        <td>
                            <%= e.venue %>
                        </td>
                        <td>
                            <%= e.description %>
                        </td>
                        <td>
                            <%= e.city %>
                        </td>
                        <td>
                            <%= e.date.toLocaleDateString() %>
                                <%= e.date.toLocaleTimeString() %>
                        </td>
                        <td><a id="detail-button" href="/events/<%= e._id %>">DETAILS</a></td>

                    </tr>
                    <%});%>
            </tbody>
            <%} else {%>
                <h2>NO MATCHING RESULTS</h2>
                <%}%>
    </table>

    <%- include('../partials/footer') %>